{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
    </head>
	<body>
		<!-- HEADER -->
		
		<!-- /HEADER -->

		
		<!-- /NAVIGATION -->

		<!-- SECTION -->
				<!-- /SECTION -->

		<!-- SECTION -->
		
					<!-- /section title -->

					<!-- Products tab & slick -->
			
			<!-- /container -->
	
		<!-- /SECTION -->

		<!-- SECTION -->
				<!-- /SECTION -->

		<!-- NEWSLETTER -->
			<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		
		<!-- /FOOTER -->

		
	</body>
</html>
{% endblock %}
